


#site-content {
	padding-top: 150px;
	padding-left: 20px;
	padding-right: 20px;

}

#site-sidebar {
	margin-top: 20px;
	padding-left: 20px;
}

#primary {
}

.post-navigation {
	display: none;
}

#site-footer {
	background-color: $color-rust;
	text-align: center;
	padding: 40px 0;
	color: $color-white;

	.logo {
		margin: 40px 0;
	}

	.legal {
		font-size: 12px;
		line-height: 18px;
	}

	img {
		width: 160px;
	}
}




@media (max-width: $mobile-end) {
	.wp-block-columns.icon-column  {
		flex-wrap: nowrap;

		.wp-block-column:first-child {

			flex-basis: auto !important;
			margin-right: 16px;
		}
	}
}

@media (min-width: $mobile-end) {

	#site-content {
		display: flex;
		padding-top: 150px;
	}
	
	#site-sidebar {
		flex: 1;
	}
	
	#primary {
		flex: 2;
	}

	.mobile-only {
		display: none;
	}

	#site-footer {
		.legal {
			font-size: 14px;
		}
	}



	.wp-block-column:not(:first-child) {
		margin-left: 15px;
	}
}

