
#site-header {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	transition: height 0.8s, background-color 0.3s;
	height: 75px;
	width: 100%;
	max-width: 100%;
	background-color: $color-rust;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 20px 28px;
	//padding-top: 20px;

	.header-inner {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.logo img {
		width: 140px;
	}

	.header-top {
		display: flex;
		flex-direction: row;
	}

	.logo {
		flex: 1;
	}

	nav {
		flex: 1;
		display: none;
	}


	#menu-btn {
		width: 30px;
		padding: 1px;
		padding-top: 9px;
		position: relative;
		box-sizing: border-box;
		background: transparent;
		border: none;
		cursor: pointer;
	}

	.bar-icon {
		height: 1px;
		width: 30px;
		color: $color-white;
		//display: inline-block;
		float: right;
		margin-bottom: 5px;
		transition: 0.8s;
		opacity: 1;
		top: 0;
		position: relative;
		border-bottom: 2px solid $color-white;
	}


	// When the menu is open
	&.active {
		height: 100vh;
		position: fixed;
		justify-content: space-between;

		.header-inner {
			height: 100%;
		}

		nav {
			display: flex;
			flex-direction: column;
			flex: 1;

			&::before, &::after {
				content: " ";
				flex: 1;
			}
		}

		.bar-icon {
			color: $color-white;

			&:nth-child(1) {
				transform:rotate(45deg);
				top: 7px;
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform:rotate(-45deg);
				top: -7px;
			}
		}

	} // .active



} // #site-header

.admin-bar #site-header {
	top: 46px;
}

#wpadminbar {
	position: fixed;
}


#site-navigation {

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		margin: 0;
		padding: 0;
	}

	a {
		display: inline-block;
		padding: 10px 0;
		color: $color-white;
		font-size: 25px;
		line-height: 52px;
		font-weight: 600;
		position: relative;
		text-decoration: none;
	}

	// Underline on hover effect
	a {
		&:after {
		content: " ";
			transition: 0.5s;
			display: inline-block;
			border-bottom: 3px solid $color-white;
			width: 0%;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: 15px;
			
		}


		&:hover {
			&:after {
				width: 100%;
			}
		}
	}

}


@media (min-width: $mobile-end) {

	#site-header,
	#site-header.active {
		height: auto;
		display: flex;
		flex-direction: row;
		padding:  30px;
		position: fixed;

		.header-inner {
			display: flex;
			flex-direction: row;
			max-width: $max-width;
			margin: auto;
			width: 100%;
		}
	
		.header-top {
			display: flex;
			flex-direction: row;
		}
	
		.logo {
			flex: 1;
		}
	
		nav {
			display: block;
		}

		.mobile-controls {
			display: none;
		}

	}


	#site-navigation {

		flex: 1;
		text-align: right;

		li, a {
			display: inline-block;
		}

		a {
			font-size: 15px;
			font-weight: 600;
			line-height: 18px;
			margin-left: 20px;
			
			&:after {
				bottom: 0;
			}
		}
	}

	.admin-bar #site-header {
		top: 32px;
	}

}


